.ui-icon-myhome {
    background: url("../jquery-mobile/images/icons-36-white.png") no-repeat scroll 0 0;
    background-position: -1150px -1px;
}
.ui-icon-mymore {
    background: url("../jquery-mobile/images/icons-36-white.png") no-repeat scroll 0 0;
    background-position: -1576px -1px;
}
.nav-custom .ui-btn .ui-btn-inner { padding-top: 15px !important; }
.nav-custom .ui-btn .ui-icon {
	width: 36px!important; 
	height: 36px!important; 
	margin-left: 25% !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important;
	-moz-border-radius: 0px!important;
	border-radius: 0px!important;
}
.ui-btn-up-navbar {
	border: 1px solid 		#111 /*{a-bup-border}*/;
	background: 			#333 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-bup-background-start}*/), to( #2d2d2d /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/);
}
.ui-btn-up-navbar:visited,
.ui-btn-up-navbar a.ui-link-inherit {
	color: 					#fff /*{a-bup-color}*/;
}
.ui-btn-hover-navbar {
	margin:5px;
	border: 1px solid 		#000 /*{a-bhover-border}*/;
	background: 			#444 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #111 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4B1217 /*{a-bhover-background-start}*/), to( #902934 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #4B1217 /*{a-bhover-background-start}*/, #902934 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #4B1217 /*{a-bhover-background-start}*/, #902934 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #4B1217 /*{a-bhover-background-start}*/, #902934 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #4B1217 /*{a-bhover-background-start}*/, #902934 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #4B1217 /*{a-bhover-background-start}*/, #902934 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-navbar:visited,
.ui-btn-hover-navbar:hover,
.ui-btn-hover-navbar a.ui-link-inherit {
	color: 					#fff /*{a-bhover-color}*/;
}
.ui-btn-down-navbar {
	border: 1px solid 		#000 /*{a-bdown-border}*/;
	background: 			#222 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4B1217 /*{a-bdown-background-start}*/), to( #902934 /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #4B1217 /*{a-bdown-background-start}*/, #902934 /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #4B1217 /*{a-bdown-background-start}*/, #902934 /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #4B1217 /*{a-bdown-background-start}*/, #902934 /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #4B1217 /*{a-bdown-background-start}*/, #902934 /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #4B1217 /*{a-bdown-background-start}*/, #902934 /*{a-bdown-background-end}*/);
}
.ui-btn-down-navbar:visited,
.ui-btn-down-navbar:hover,
.ui-btn-down-navbar a.ui-link-inherit {
	color: 					#fff /*{a-bdown-color}*/;
}
.ui-btn-up-navbar,
.ui-btn-hover-navbar,
.ui-btn-down-navbar {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}