*{padding:0;margin:0}
#afui #header{
	background:url('static/images/app/header-bg.png');
	background-repeat: repeat-x;
	height: 50px;
	width: 100%;
	line-height: 50px;
	border:none;
}
#afui #header h1{
	padding:0;
	font-size: 20px;
}
#afui #content{
	background: #f4f4f4;	
	text-align: center;
}
#afui #navbar{
	background:url('static/images/app/header-bg.png');
	background-repeat: repeat-x;
	border:none;
}

/*index*/
.top{
	padding:10px;
}
.top a{
	display:inline-block;
	min-width:24%;
	width: 24%
}
.btn{
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow:2px 2px 1px #aaa; 
	width:100%;
}

.ad{
	height: 170px;
	width: 100%;
	border:1px solid #999;
}
.bottom a{
	display:inline-block;
	min-width:30%;
	width: 30%;
	padding:15px;
}
.bottom img{
}

